html, body {
     max-width: 100%;
     overflow-x: hidden;
}

#div0{
    margin:10px;
    font-size:0.6em;
}

#div1{
    margin:10px;
    font-size:1.2em;
}

table {
    border-collapse:collapse;
    border:0px solid #7f7f7f;
    width:80px;height:50px;
}

td {
    border:0px solid #7f7f7f;
    width:60px;height:10px;
    text-align:left;
    font-size:12px;
    font-color:blue;
}

#div2 {
    margin:10px;
    font-size:1em;
}

table1 {
    border-collapse:collapse;
    border:0px solid #7f7f7f;
}

td1 {
    border:0px solid #7f7f7f;
    margin:10px;
    width:280px;height:140px;
    text-align:center;
}

td2 {
    border:0px solid #7f7f7f;
    margin12px;
    width:50px;height:50px;
    font-size:12px;
    text-align:center;
}

td3 {
    border:0px solid #7f7f7f;
    width:80px;height:80px;
   
    text-align:center;
}

td4 {
    border:0px solid #7f7f7f;
    width:60px;height:30px;
    margin:10px;
}

#listTxStyle {
  border: 0px solid #7f7f7f;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f8fbfd;
  padding: 5px;
  border-radius: 1px;
  width: 70px;
  height: 12px;
  font-size: 8px;
}

#custominput {
  border: 1px solid #7f7f7f;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f8fbfd;
  padding: 12px;
  border-radius: 1px;
  width: 320px;
  height: 140px;
  font-size: 12px;
}
#custominput1 {
  border: 1px solid #7f7f7f;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  scroll: true;
  background: #f8fbfd;
  padding: 10px;
  border-radius: 1px;
  width: 80px;
  height: 60px;
  font-size: 10px;
}


